body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#031161
}

.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: slategrey;
  height: 100vh;;
}

.formWrapper {
  background-color:navy;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}
footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color:#4aed88;
  text-decoration: none;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 100px;
  width: 200px;
  margin-bottom: 30px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  background-color: #eee;
  font-size: 16px;
  font-weight: bold;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

.joinBtn {
  background-color: #4aed88;
  width: 100px;
  margin-left: auto;
}

.joinBtn:hover {
  background-color: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover, footer a:hover{
  color: #2b824c;
}

.mainWrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100vh;
}

.aside {
  background-color: #1c1e29;
  padding: 16px;
  color: white;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 70px;
  width: 100%;
}

.leaveBtn {
  margin-top: 20px;
  background-color: #4aed88;
}
.leaveBtn:hover{
  background-color: #2b824c;
}

.CodeMirror {
  height: 100vh;
  /*min-height: calc(100vh-20px);*/
  font-size: 20px;
  padding-top: 20px;
  line-height: 1.6;
}
